openapi: 3.1.0
info:
  title: RescueGroups.org Animals Species API
  version: 5.0.0
  description: The RescueGroups.org REST API v5 provides access to adoptable pet data including animals, organizations, breeds, species, colors, and patterns. It supports advanced search with geodistance filtering, pagination, and relationship inclusion. API key authorization is used for public data access; bearer token authorization is used for private/write operations.
  contact:
    name: RescueGroups.org Developer Community
    url: https://groups.google.com/a/rescuegroups.org/g/apidev
  license:
    name: RescueGroups.org Terms
    url: https://rescuegroups.org/
servers:
- url: https://api.rescuegroups.org/v5
  description: Production API
- url: https://dev1-api.rescuegroups.org/v5
  description: Development/Test API
security:
- apiKeyAuth: []
tags:
- name: Species
  description: Retrieve animal species reference data.
paths:
  /public/animals/species:
    get:
      tags:
      - Species
      summary: List Animal Species
      description: Retrieve all animal species reference values.
      operationId: listAnimalSpecies
      responses:
        '200':
          description: A list of animal species.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SpeciesListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    SpeciesItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties:
            singular:
              type: string
              description: Singular species name.
            plural:
              type: string
              description: Plural species name.
            youngSingular:
              type: string
              description: Singular name for young of the species.
            youngPlural:
              type: string
              description: Plural name for young of the species.
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
              title:
                type: string
              detail:
                type: string
    SpeciesListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SpeciesItem'
  responses:
    Unauthorized:
      description: Missing or invalid authorization.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key authorization for public data access.
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token for private/authenticated data access.
